/* 
Цвет текста:
  #212121 - заголовки (h2, h3)
  #757575 - основной серый (в .header-link, p)
  #2196F3 - hover, Web
  #FFFFFF - в .hero
  #FFFFFF 60% - список контактов в футере

Цвет фона:
  #FFFFFF - основной
  #2F303A - hero, футер
  #F5F4FA - фон секции "наша команда"
  
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --title-text-color-hero-footer: #ffffff;
  --accent-color: #2196f3;
  --background-color-hero-footer: #2f303a;
  --primary-white-color: #ffffff;
  --button-primary-background: #f5f4fa;
  --button-hover: #188ce8;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* ul {
  list-style: none;
}

a {
  text-decoration: none;
}*/

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .logo */

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  color: #000000;
}

/* Навигация */

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-contacts .link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Hero */

.hero {
  padding-top: 200px;
  background-color: var(--background-color-hero-footer);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30;
  color: var(--title-text-color-hero-footer);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */

.button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  margin-bottom: 200px;
  border-style: none;
  border-radius: 4px;
  color: var(--title-text-color-hero-footer);
  background-color: var(--accent-color);
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}

/* section */

.section-title,
.footer .title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-title .heading {
  color: var(--title-text-color);
}

/* Особенности */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature .heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature .paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Работы */

.work {
  padding-bottom: 94px;
}

.work .section-title {
  margin-bottom: 50px;
}

.work .heading {
  color: var(--title-text-color);
}

/* Наша команда */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-primary-background);
}
.our-team .section-title {
  margin-bottom: 50px;
}

.our-team .cards {
  padding-bottom: 30px;
  text-align: center;
}

.our-team .img {
  margin-bottom: 30px;
}

.our-team .heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team .paragraph {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Футер */
.footer {
  padding: 60px 0;
  background-color: var(--background-color-hero-footer);
}

.logo-footer {
  color: var(--title-text-color-hero-footer);
}

.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-text {
  margin: 0;
  color: var(--title-text-color-hero-footer);
}

.footer-contacts .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

/* Портфолио .html*/

.filter .button {
  color: var(--title-text-color);
  background-color: var(--button-primary-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--title-text-color-hero-footer);
  background-color: var(--accent-color);
}

.gallery-works .heading {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-works .paragraph {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.gallery-works a {
  text-decoration: none;
}

/* Прибить заголовки вне макета (списал на GitHab у Саньки Репеты)*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
